streamlit
langchain
langchain-core
langchain-google-genai
langchain-huggingface
langchain-community
langchain-chroma
langchain-text-splitters
langchainhub
google-generativeai
sentence-transformers
chromadb
pypdf
python-dotenv